{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block content_wrapper %}
  <div class="card bg-primary text-white">
    <div class="row align-items-center">
      <div class="col-lg-8 d-none d-lg-block">
        <img class="img-fluid" width="650" src="{{ static_url('images/kadi_bg.png') }}">
      </div>
      <div class="col-lg-4 m-3 m-lg-0 text-center text-lg-left">
        <div>
          <h4>
            <strong>{% trans %}Karlsruhe Data Infrastructure{% endtrans %}</strong>
          </h4>
          <h5>{% trans %}for Materials Science{% endtrans %}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body my-3">
      <div class="row align-items-center">
        <div class="col-lg-8 px-5">
          {% trans %}Welcome to{% endtrans %} <strong>Kadi4Mat</strong>.
          {% trans trimmed %}
            Kadi4Mat is the <strong>Karlsruhe Data Infrastructure for Materials Science</strong>, a software for
            managing research data with the aim of combining new concepts with established technologies and existing
            solutions.
          {% endtrans %}
        </div>
        <div class="col-lg-4 mt-3 mt-lg-0">
          <a href="{{ url_for('main.about') }}" class="btn btn-block btn-light">
            {% trans %}About{% endtrans %} Kadi4Mat
          </a>
          <a href="{{ url_for('main.help') }}" class="btn btn-block btn-light">
            <i class="fas fa-question-circle"></i> {% trans %}Help{% endtrans %}
          </a>
        </div>
      </div>
    </div>
    <div class="card-footer py-3">
      <div class="row justify-content-end">
        <div class="col-lg-4">
          <a href="{{ url_for('accounts.login') }}" class="btn btn-block btn-primary">
            <i class="fas fa-sign-in-alt"></i> {% trans %}Login{% endtrans %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
