{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% trans trimmed %}
  Note that records uploaded to Zenodo will not be published directly, i.e. each record can be reviewed and edited via
  Zenodo before publishing.
{% endtrans %}
{% trans %}The following metadata of a record will be used for the upload to Zenodo:{% endtrans %}
<ul>
  <li>{% trans %}Title{% endtrans %}</li>
  <li>{% trans %}License{% endtrans %}</li>
  <li>
    {% trans %}Description{% endtrans %}
    <em class="text-muted">
      ({% trans %}Note that Zenodo only supports a limited amount of Markdown/HTML tags{% endtrans %})
    </em>
  </li>
  <li>
    {% trans %}Tags{% endtrans %}
    <em class="text-muted">
      ({% trans %}Tags will be used as keywords in Zenodo{% endtrans %})
    </em>
  </li>
  <li>
    {% trans %}Creator{% endtrans %}
    <em class="text-muted">
      ({% trans %}The display name of the record's creator will be used as the first author in Zenodo{% endtrans %})
    </em>
  </li>
  <li>
    {% trans %}Extras{% endtrans %}
    <em class="text-muted">
      ({% trans %}Any extra metadata will be uploaded as a separate JSON file called "_meta.json"{% endtrans %})
    </em>
  </li>
</ul>
{% trans %}All records will be uploaded as <em>Dataset</em>.{% endtrans %}
