{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card-header">
  <ul class="nav nav-pills card-header-pills">
    {% snippet "nav_item",
               url=url_for("records.view_record", id=record.id),
               body="<strong>{}</strong>".format(_("Record")) %}

    {% if has_permission(current_user, "update", "record", record.id) %}
      {% snippet "nav_item",
                 url=url_for("records.add_files", id=record.id),
                 body='<i class="fas fa-file"></i> {}'.format(_("Add files")) %}

      {% snippet "nav_item",
                 url=url_for("records.edit_record", id=record.id),
                 body='<i class="fas fa-edit"></i> {}'.format(_("Edit record")) %}
    {% endif %}

    {% if has_permission(current_user, "link", "record", record.id) %}
      {% snippet "nav_item",
                 url=url_for("records.manage_links", id=record.id),
                 body='<i class="fas fa-link"></i> {}'.format(_("Manage links")) %}
    {% endif %}

    {% if has_permission(current_user, "permissions", "record", record.id) %}
      {% snippet "nav_item",
                 url=url_for("records.manage_permissions", id=record.id),
                 body='<i class="fas fa-shield-alt"></i> {}'.format(_("Manage permissions")) %}
    {% endif %}
  </ul>
</div>
