{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}
<div v-if="previewData.type === 'image'">
  <div class="card bg-light text-center">
    <a :href="previewData.data">
      <img class="img-fluid" :src="previewData.data">
    </a>
  </div>
</div>
<div v-if="previewData.type === 'pdf'">
  <div class="card bg-light">
    <iframe :src="previewData.data" frameborder="0" class="w-100" style="height: 75vh;" allowfullscreen></iframe>
  </div>
</div>
<div v-if="previewData.type === 'archive'">
  <div class="card bg-light">
    <archive-viewer class="mt-3 mr-3" :entries="previewData.data"></archive-viewer>
  </div>
</div>
<div v-if="previewData.type === 'markdown'">
  <div class="card bg-light">
    <markdown-preview class="mt-3 mb-2 mx-3" :input="previewData.data"></markdown-preview>
  </div>
</div>
<div v-if="previewData.type === 'workflow'">
  <workflow-editor :workflow="previewData.data" :editable="false"></workflow-editor>
</div>
